{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Testimonials | {% block title %}  {% endblock %}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    {% block extra_head %}
    {% endblock %}
</head>

<body>
    <!-- ======= Header ======= -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm py-3">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <img src="{% static 'img/logo.png' %}" alt="Testimonials Logo" class="me-2" style="width: 40px;">
                <span class="fw-bold fs-4 text-primary d-none d-lg-block">Testimonials</span>
            </a>

            {% if messages %}
                {% for message in messages %}
                <div class="alert  
                            {% if message.tags == 'success' %}
                                alert-success
                            {% elif message.tags == 'warning' %}
                                alert-danger
                            {% elif message.tags == 'error' %}
                                alert-info
                            {% else %}
                                alert-primary
                            {% endif %}
                alert-dismissible fade show" role="alert"
                style="position: fixed; top: 20px; right: 20px; width: 400px; z-index: 9999;">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </nav>

    <main class="d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="container  p-5 " style="max-width: 900px;">
            {% block content %}
            <!-- Page content goes here -->
            {% endblock %}
        </div>
    </main>

    <footer class="container mt-5 fixed-bottom bg-light shadow-sm">
        <p class="text-center text-muted">© 2023 Testimonial. All rights reserved.</p>
    </footer>

    <script>
        window.setTimeout(function() {
          let alerts = document.querySelectorAll('.alert');
          alerts.forEach(alert => {
            let bsAlert = new bootstrap.Alert(alert);
            bsAlert.close();
          });
        }, 3000);  // 3000 milliseconds = 3 seconds
    </script>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/quill/quill.js' %}"></script>
    <script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>

    {% block extra_scripts %}
    {% endblock %}
</body>

</html>

