{% extends 'basefull.html' %}

{% block title %}Dashboard{% endblock %}


{% block content %}
     <main class="container mt-5 py-5">
        <div class="row justify-content-center text-center pt-5">
            <div class="col-md-8">
                <h1 class="display-4 fw-bold mb-4">Get testimonials from your customers with ease</h1>
                <p class="lead mb-5">Collecting testimonials is hard, we get it! So we built Testimonial. In minutes, you can collect text and video testimonials from your customers with no need for a developer or website hosting.</p>
                <div class="d-flex justify-content-center mb-3">
                    <a href="{% url 'dashboard' %}" class="btn btn-primary btn-lg me-3">Try FREE now</a>
                    <a href="#" class="btn btn-outline-primary btn-lg">Talk to us 👋</a>
                </div>
                <p class="text-muted">Get started with free credits on us. <a href="#" class="text-primary">See our pricing →</a></p>
            </div>
        </div>
    </main>

    
{% endblock %}
